.footer {
  padding: 30px 0 0 0;
}

.footer-map iframe {
  height: 50vh;
}

.footer__inner-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3% 0;
}

@media (max-width: 768px) {
  .footer__inner-wrap {
    display: block;
  }
}

.footer__inner-info-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__inner-info-text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .footer__inner-info-text-wrap {
    display: block;
  }
}

.footer__inner-info-text-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__inner-social-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5% 0 0 0;
}

.footer__inner-social-wrap a:not(:last-child) {
  margin: 0 5% 0 0;
}

@media (max-width: 768px) {
  .footer__inner-social-wrap {
    margin: 10% 0;
  }
}

.footer__nav {
  background-color: #8f2b50;
}

.footer__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 2% 2% 2% 15px;
  margin: 0;
}

.footer__nav ul li:not(:last-child) {
  margin: 0 2% 0 0;
}

@media (max-width: 768px) {
  .footer__nav ul li:not(:last-child) {
    margin: 0 0 5% 0;
  }
}

.footer__nav ul a {
  text-decoration: none;
  color: #ffffff;
}

.footer__nav ul a:hover {
  text-decoration: underline;
  color: #ffffff;
}

@media (max-width: 768px) {
  .footer__nav ul {
    display: block;
    text-align: center;
    padding: 2%;
  }
}

.footer h5 {
  margin: 0 0 4% 0;
  color: #666666;
}

.footer a {
  text-decoration: none;
  color: #666666;
}

.footer a:hover {
  text-decoration: underline;
  color: #8f2b50;
}

.footer__inner-info {
  width: 45%;
  margin: 0 2% 0 0;
}

@media (max-width: 768px) {
  .footer__inner-info {
    width: 100%;
  }
  .footer__inner-info .footer__inner-info-img {
    margin: 0 5% 0 0;
  }
  .footer__inner-info .footer__inner-info-img img {
    width: 100%;
  }
}

.footer__inner-info p {
  margin: 0 0 3% 0;
}

.footer__inner-social {
  width: 20%;
  position: relative;
  text-align: center;
  margin: 0 2% 0 0;
}

@media (max-width: 768px) {
  .footer__inner-social {
    width: 100%;
  }
}

.footer__inner-social::before {
  content: '';
  position: absolute;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  top: 25%;
}

@media (max-width: 768px) {
  .footer__inner-social::before {
    border-right: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    width: 50%;
    left: 25%;
  }
}

.footer__inner-social::after {
  content: '';
  position: absolute;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  height: 100%;
  right: 0;
  top: 25%;
}

@media (max-width: 768px) {
  .footer__inner-social::after {
    border-right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    width: 50%;
    right: 25%;
  }
}

.footer__inner-social h5 {
  margin-right: 13%;
}

.footer__inner-moto {
  width: 35%;
  margin: 0 2% 0 0;
}

@media (max-width: 768px) {
  .footer__inner-moto {
    width: 100%;
    text-align: center;
  }
}
/*# sourceMappingURL=footer.css.map */