/* General */
$header__border-color: 1px solid rgba(255, 255, 255, .1);
$mainColor: #ffffff;
@mixin header-text {
  font-size: 16px;
  line-height: 3;
  font-weight: 400;
}
@mixin intro-title{
    font-size: 36px;
    line-height: 1.9;
    font-weight: 700;
}
@mixin intro-text {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 600;
}
@mixin services-title {
  font-size: 24px;
  line-height: 0.84;
  font-weight: 600;
  color: #191919;
}
@mixin services-text {
  font-size: 14px;
  line-height: 1.428;
  font-weight: 600;
  color: #b8b8b8;
}
@mixin services-subtitle {
  font-size: 30px;
  line-height: 1.6;
  font-weight: 300;
  color: #b8b8b8;
}
@mixin footer-title {
  font-size: 12px;
  line-height: 2;
  font-weight: 700 bold;
  color: $mainColor;
}
@mixin footer-text {
  font-size: 12px;
  line-height: 2;
  font-weight: 700;
  color: #7e858c;
}

body {
    font-family: 'Open Sans', sans-serif;
    
    color: $mainColor;
}
*,
*:before,
*:after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
section{
  margin: 80px 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px 0 30px;
}
button{
  cursor: pointer;
}


/* Header */
.header{
  background-color: #1b1e25;
}
/* Fixed */
.header.fixed{
  background-color:#1b1e25;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  transform: translate3d(0, 0, 0);
}
.header.active{
  background-color:#1b1e25;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}
/* */
.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo{
  display: flex;
  a, a:visited, a:hover, a:active, a:link{
    text-decoration: none;
    font-size: 24px;
    line-height: 2.5;
    font-weight: 700;
    color: $mainColor;
  }
  p{
    font-size: 16px;
    font-family: "Times New Roman";
    font-style: italic;
    opacity: 0.5;
    margin: auto 10px;
  }
}
.nav{
  display: flex;
  @include header-text;
  i:not(:first-child){
    color:$mainColor;
  }
}
.header-button{
  display: flex;
  background-color: #1b1e25;
  color: $mainColor;
  border: 0;
  border-right: $header__border-color;
  border-left: $header__border-color;
  padding: 21px;
  i{
    margin-right: 5px;
  }
}
.header-button:hover{
  background-color: #068fd5;
}
/* Nav toggle */
.nav-toggle{
  width: 30px;
  padding: 15px 0;
  position: absolute;
  top: 7px;
  right: 15px;
  z-index: 1;
  font-size: 0px;
  color: transparent;
  border: 0;
  background: none;
  cursor: pointer;
  display: none;

}
.nav-toggle.active .nav-toggle__item{
  background: none;
}
.nav-toggle.active .nav-toggle__item::before{
  transform-origin: left top;
  transform: rotate(45deg) translateX(1px)
  translateY(-5px);;
}
.nav-toggle.active .nav-toggle__item::after{
  transform-origin: left bottom;
  transform: rotate(-45deg)translateX(2px)
  translateY(4px);
}
.nav-toggle__item{
  display: block;
  width: 100%;
  height: 3px;
  background-color: $mainColor;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  
}
.nav-toggle__item:before,
.nav-toggle__item:after{
  content: "";
  width: 100%;
  height: 3px;
  background-color: $mainColor;
  position: absolute;
  left: 0;
  z-index: 1;
}
.nav-toggle__item:before{
  top: -8px;
}
.nav-toggle__item:after{
  top: 8px;
}
/*Intro */
.intro{
  background: url('../img/banner.svg') no-repeat center;
  background-size: cover;
}
.intro__inner{
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.intro-title{
  max-width: 370px;
  margin: 75px auto;
  h1{
    @include intro-title;
  }
  p{
    @include intro-text;
    margin-top: 20px;
    opacity: 0.6;

  }
}
.intro-img{
  margin: 20px 28px -5px 0px;
}
.intro-form{
  max-width: 290px;
  margin: auto;
  input{
    @include intro-text;
    margin-top: 10px;
    width: 290px;
    opacity: 0.5;
    padding: 10px;
    background: none;
    border: 1px solid $mainColor;
  }
  ::placeholder{
    color: $mainColor;
  }
  input[type=text],
  input[type=email], 
  input[type=password]{
    color: $mainColor;
  }
  input[type=text]:focus,
  input[type=email]:focus, 
  input[type=password]:focus{
    outline: 3px solid $mainColor;
    opacity: 1;
  }
  p:first-child{
    @include intro-text;
    margin-bottom: 10px;
    font-weight: 400;
  }
  p:not(:first-child){
    margin: 20px 0;
    font-size: 12px;
    line-height: 1.5;
    opacity: 0.5;
  }
  button{
    background-color: #ff4533;
    padding: 15px 40px;
    border: none;
    color: $mainColor;
    border-radius: 5%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5)
  }
  button:hover{
    background-color: #e63e2e;
  }
  a, a:visited, a:hover, a:active, a:link{
    text-decoration: underline;
    color: $mainColor;
    
  }
}
/* Services */
.services-wrapper{
  display: flex;
  justify-content: space-between;
  position: relative;
}
.services-wrapper:after{
  position: absolute;
  content: '';
  border-bottom: 5px solid #e8eaeb;
  bottom: -80px;
  width: 100%;
}
.services__inner{
  display: flex;
  flex-direction: column;
  width: 32%;
  button{
    background-color: #959595;
    border: none;
    color: $mainColor;
    padding: 10px 30px;
    border-radius: 5%;
    box-shadow: 0 5px 0px rgba(0,0,0,0.5);
    margin-top: 30px;
  }
  button:hover{
    background-color: #868686;
    box-shadow: 0 5px 0px rgba(0,0,0,0.7);
  }
}
.services-img{
  text-align: center;
  height: 100%;
  position: relative;
  img{
    height: 114px;
  }
}
.services-img:before{
  position: absolute;
  content: '';
  border-bottom: 5px solid #e8eaeb;
  bottom: 60px;
  width: 16%;
  left: 50px;
}
.services-img:after{
  position: absolute;
  content: '';
  border-bottom: 5px solid #e8eaeb;
  bottom: 60px;
  width: 16%;
}
.services-text{
  text-align: left;
  h3{
    @include services-title;
    margin-top: 40px;
  }
  p{
    @include services-text;
    margin-top: 30px;
  }
}
.services-subtitle{
  @include services-subtitle;
  margin-top: 100px;
  span{
    color: #ff4533;
  }
}
.icon-play_circle_filled{
  color: #ff4533;
  margin: 15px 0 0 15px;
  font-size: 50px;
  cursor: pointer;
}
/* Footer */
.footer{
  background-color: #1b1f26;
  padding: 30px 0;
}
.footer-wrapper{
  display: flex;
  justify-content: space-between;
}
.footer__list-wrapper{
  display: flex;
}
.footer__list{
  margin: 0px 75px 0 0;
  h5{
    @include footer-title;
    margin-bottom: 20px;
  } 
  ul {
    list-style-type: none;
  }
  li{
    @include footer-text;
    cursor: pointer;
  }
  li:hover{
    color: #ff4533;
  }
}
.footer__social-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__social{
  @include footer-text;
  text-align: right;
  i{
    font-size: 20px;
    color: $mainColor;
    cursor: pointer;
  }
  i:not(:last-child){
    margin-right: 15px;
  }
  i:hover{
    color: #ff4533;
    
  }
}
