/* General */
body {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

section {
  margin: 80px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px 0 30px;
}

button {
  cursor: pointer;
}

/* Header */
.header {
  background-color: #1b1e25;
}

/* Fixed */
.header.fixed {
  background-color: #1b1e25;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.header.active {
  background-color: #1b1e25;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}

/* */
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo a, .header__logo a:visited, .header__logo a:hover, .header__logo a:active, .header__logo a:link {
  text-decoration: none;
  font-size: 24px;
  line-height: 2.5;
  font-weight: 700;
  color: #ffffff;
}

.header__logo p {
  font-size: 16px;
  font-family: "Times New Roman";
  font-style: italic;
  opacity: 0.5;
  margin: auto 10px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 3;
  font-weight: 400;
}

.nav i:not(:first-child) {
  color: #ffffff;
}

.header-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1b1e25;
  color: #ffffff;
  border: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  padding: 21px;
}

.header-button i {
  margin-right: 5px;
}

.header-button:hover {
  background-color: #068fd5;
}

/* Nav toggle */
.nav-toggle {
  width: 30px;
  padding: 15px 0;
  position: absolute;
  top: 7px;
  right: 15px;
  z-index: 1;
  font-size: 0px;
  color: transparent;
  border: 0;
  background: none;
  cursor: pointer;
  display: none;
}

.nav-toggle.active .nav-toggle__item {
  background: none;
}

.nav-toggle.active .nav-toggle__item::before {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(45deg) translateX(1px) translateY(-5px);
          transform: rotate(45deg) translateX(1px) translateY(-5px);
}

.nav-toggle.active .nav-toggle__item::after {
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: rotate(-45deg) translateX(2px) translateY(4px);
          transform: rotate(-45deg) translateX(2px) translateY(4px);
}

.nav-toggle__item {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  z-index: 1;
}

.nav-toggle__item:before {
  top: -8px;
}

.nav-toggle__item:after {
  top: 8px;
}

/*Intro */
.intro {
  background: url("../img/banner.svg") no-repeat center;
  background-size: cover;
}

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
}

.intro-title {
  max-width: 370px;
  margin: 75px auto;
}

.intro-title h1 {
  font-size: 36px;
  line-height: 1.9;
  font-weight: 700;
}

.intro-title p {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
  margin-top: 20px;
  opacity: 0.6;
}

.intro-img {
  margin: 20px 28px -5px 0px;
}

.intro-form {
  max-width: 290px;
  margin: auto;
}

.intro-form input {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
  margin-top: 10px;
  width: 290px;
  opacity: 0.5;
  padding: 10px;
  background: none;
  border: 1px solid #ffffff;
}

.intro-form ::-webkit-input-placeholder {
  color: #ffffff;
}

.intro-form :-ms-input-placeholder {
  color: #ffffff;
}

.intro-form ::-ms-input-placeholder {
  color: #ffffff;
}

.intro-form ::placeholder {
  color: #ffffff;
}

.intro-form input[type=text],
.intro-form input[type=email],
.intro-form input[type=password] {
  color: #ffffff;
}

.intro-form input[type=text]:focus,
.intro-form input[type=email]:focus,
.intro-form input[type=password]:focus {
  outline: 3px solid #ffffff;
  opacity: 1;
}

.intro-form p:first-child {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 10px;
  font-weight: 400;
}

.intro-form p:not(:first-child) {
  margin: 20px 0;
  font-size: 12px;
  line-height: 1.5;
  opacity: 0.5;
}

.intro-form button {
  background-color: #ff4533;
  padding: 15px 40px;
  border: none;
  color: #ffffff;
  border-radius: 5%;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.intro-form button:hover {
  background-color: #e63e2e;
}

.intro-form a, .intro-form a:visited, .intro-form a:hover, .intro-form a:active, .intro-form a:link {
  text-decoration: underline;
  color: #ffffff;
}

/* Services */
.services-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.services-wrapper:after {
  position: absolute;
  content: '';
  border-bottom: 5px solid #e8eaeb;
  bottom: -80px;
  width: 100%;
}

.services__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 32%;
}

.services__inner button {
  background-color: #959595;
  border: none;
  color: #ffffff;
  padding: 10px 30px;
  border-radius: 5%;
  -webkit-box-shadow: 0 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 0px rgba(0, 0, 0, 0.5);
  margin-top: 30px;
}

.services__inner button:hover {
  background-color: #868686;
  -webkit-box-shadow: 0 5px 0px rgba(0, 0, 0, 0.7);
          box-shadow: 0 5px 0px rgba(0, 0, 0, 0.7);
}

.services-img {
  text-align: center;
  height: 100%;
  position: relative;
}

.services-img img {
  height: 114px;
}

.services-img:before {
  position: absolute;
  content: '';
  border-bottom: 5px solid #e8eaeb;
  bottom: 60px;
  width: 16%;
  left: 50px;
}

.services-img:after {
  position: absolute;
  content: '';
  border-bottom: 5px solid #e8eaeb;
  bottom: 60px;
  width: 16%;
}

.services-text {
  text-align: left;
}

.services-text h3 {
  font-size: 24px;
  line-height: 0.84;
  font-weight: 600;
  color: #191919;
  margin-top: 40px;
}

.services-text p {
  font-size: 14px;
  line-height: 1.428;
  font-weight: 600;
  color: #b8b8b8;
  margin-top: 30px;
}

.services-subtitle {
  font-size: 30px;
  line-height: 1.6;
  font-weight: 300;
  color: #b8b8b8;
  margin-top: 100px;
}

.services-subtitle span {
  color: #ff4533;
}

.icon-play_circle_filled {
  color: #ff4533;
  margin: 15px 0 0 15px;
  font-size: 50px;
  cursor: pointer;
}

/* Footer */
.footer {
  background-color: #1b1f26;
  padding: 30px 0;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__list {
  margin: 0px 75px 0 0;
}

.footer__list h5 {
  font-size: 12px;
  line-height: 2;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__list ul {
  list-style-type: none;
}

.footer__list li {
  font-size: 12px;
  line-height: 2;
  font-weight: 700;
  color: #7e858c;
  cursor: pointer;
}

.footer__list li:hover {
  color: #ff4533;
}

.footer__social-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__social {
  font-size: 12px;
  line-height: 2;
  font-weight: 700;
  color: #7e858c;
  text-align: right;
}

.footer__social i {
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
}

.footer__social i:not(:last-child) {
  margin-right: 15px;
}

.footer__social i:hover {
  color: #ff4533;
}
/*# sourceMappingURL=style.css.map */