/*---------------------------------

   TABLE OF CONTENTS:
  ====================

    1.0 General

    2.0 Header
        2.1 Intro

    3.0 Section 1

    4.0 Section 2

    5.0 Section 3

    6.0 Footer
-----------------------------------
*/

/* 1.0 General */
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: #5e6977;
    line-height: 32px;
    font-weight: 300;
    text-align: center;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    
}
/* 2.0 Header */
.header {
    padding-top: 30px;
    width: 100%;
    
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav {
    font-size: 18px;
    line-height: 35px;
    color: #43484d;
    font-weight: 500;
}
.nav__link{
    display: inline-block;
    vertical-align: top;
    margin: 0 12px;
    color: #43484d;
    text-decoration: none;
    transition: color 0.2s linear;

}
.nav__link:hover{
    color: red;
}
.nav__menu-button{
    visibility: hidden;
}
/* 2.1 Intro */
.intro {
    justify-content: center;
    width: 100%;
    
    margin: 0 auto;
}
.intro__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.intro__banner{
    position: relative;
}
.intro__inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 750px;
    text-align: center;
    margin: 0 auto;

}
.intro__background-img{
    width: 100%;
    object-fit: contain;
    object-position: 50% 50%;
}
.intro__title{
    font-size: 72px;
    letter-spacing: -1px;
    line-height: 72px;
    color: #43484d;
    font-weight: 900;
    margin-bottom: 20px;
}
.intro__subtitle{
    font-size: 26px;
    line-height: 34px;
    color: #43484d;
    font-weight: 300;
    max-width: 570px;
    margin: 0 auto;
}
.service{
    width: 100%;
    text-align: left;
}
.service__inner{
    display: flex;
    justify-content: space-between;
}
.service__item{
    width: 32%;
    display: flex;
}
.service__item-img-wrapper{
    margin-top: 20px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid #e1e8ee;
    display: flex;
    justify-content: center;
}
.service__item-content-wrapper{
    width: calc(100% - 20px);
}
.service__item-suptitle{
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 12px;
    color: #358ed7;
    font-weight: 500;
}
.service__item-title{
    font-size: 26px;
    line-height: 34px;
    color: #46494e;
    font-weight: 300;
}
.service__item-subtitle{
    font-size: 14px;
    line-height: 21px;
    color: #89929c;
    font-weight: 400;
}
/* Breaker */
.breaker{
    width: 100%;
    height: 40px;
    background: #eeeeee;
    margin-top: 75px;
    margin-bottom: 95px;
}
/* 3.0 Section 1 */

.section__header{
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
    margin-bottom: 70px;
}
.section__suptitle {
    font-size: 18px;
    line-height: 18px;
    color: #86939e;
    font-weight: 500;
    margin-bottom: 20px;
}
.section__title{
    font-size: 52px;
    line-height: 58px;
    color: #43484d;
    font-weight: 300;
    margin-bottom: 20px;
}
.section__text{
    font-size: 22px;
    line-height: 32px;
    color: #5e6977;
    font-weight: 300;
}
/* 4.0 Section 2 */
.transfering__wrapper{
    position: relative;
}
.trasnfering__header{
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 660px;
    text-align: center;
}
.transfering__suptitle{
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 20px;
}
.transfering__title{
    font-size: 52px;
    line-height: 58px;
    color: #ffffff;
    font-weight: 300;
    margin-bottom: 20px;
}
.transfering__text{
    font-size: 22px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 300;
    opacity: 0.5;
}
.section-overlay{
    width: 100%;
    background: #000;
    opacity: 0.3;
    height: 98%;
    position: absolute;
    left: 50%;
    top: 49%;
    transform: translate(-50%, -50%);
}
.tranfering__background-img{
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}
.trasnfering__service{
    width: 100%;
    position: absolute;
    top: 57%;
}
.trasnfering__item{
    width: 32%;
    margin: auto;
}
.trasnfering__item-img{
    transform: translate(-50%, -50%);
}
.trasnfering__item-title{
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 400;
}
.trasnfering__item-subtitle{
    font-size: 16px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 400;
    opacity: 0.5;
}
/* 5.0 Section 3 */
.product__header{
    width: 100%;
    max-width: 660px;
    margin: 0 auto;
    margin-bottom: 70px;
}
.product__title{
    font-size: 52px;
    letter-spacing: 0px;
    line-height: 58px;
    color: #43484d;
    font-weight: 300;
    margin-bottom: 20px;
}
.slider__content{
    width: 100%;
    max-width: 700px;
    margin: auto;
    margin-top: 80px;
}
.slider__content-quotes{
    font-size: 32px;
    line-height: 46px;
    color: #43484d;
    font-weight: 300;
    quotes: "\00ab" "\00bb";
    
}
.slider__content-name{
    font-size: 18px;
    line-height: 25px;
    color: #43484d;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 30px;
}
.slider__content-tag{
    font-size: 16px;
    line-height: 25px;
    color: #86939e;
    font-weight: 400;
    opacity: 0.7;
}
/* Footer */
.footer{
     background-color: #43484d; 
}
.footer__wrapper{
    display: flex;
    justify-content: space-between;
}
.social, .contact, .subscribe {
    margin-top: 60px;
}
.social__logo{
    text-align: left;
}
.social__icon{
    margin-top: 15px;
    margin-bottom: 30px;
}
.social__icon__wrapper{
    display: flex;
}
.social__icon-content{
    width: 50px;
    height: 45px;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid #5e6977;
    display: flex;
    justify-content: center;
    background-color: #5e6977;
    margin-right: 20px;
}
.social-text{
    font-size: 12px;
    line-height: 12px;
    color: #bdc6cf;
    font-weight: 400;
    opacity: 0.2;
    margin-bottom: 70px;
}
.contact{
    width: 100%;
    max-width: 200px;
    text-align: left;
}
.contact__header{
    font-size: 18px;
    line-height: 35px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 10px;
}
.contact-text{
    font-size: 16px;
    line-height: 24px;
    color: #bdc6cf;
    font-weight: 400;
    margin-bottom: 70px;
}
.contact-text p{
    margin: 0px 0px 5px 0px;
}
.subscribe{
    text-align: left;
}
.subscribe__header{
    font-size: 18px;
    line-height: 35px;
    color: #ffffff;
    font-weight: 500;
}
.subscribe-text{
    font-size: 16px;
    line-height: 24px;
    color: #bdc6cf;
    font-weight: 400;
    width: 100%;
    max-width: 250px;
    margin-bottom: 30px;
}
.subscribe__form{
    width: 100%;
    display: flex;
}
.subscribe__form-text{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    border: 2px solid;
    border-radius: 15%;
    
}
.subscribe__form-text input{
    background-color: #5e6977;
    border: 1px solid #63686d;
    border-radius: 15%;
}
.subscribe__form-text:focus{
    outline: green;
}
input[type=text] {
    color: #ffffff;
    padding: 5px;
}
input:focus{
    outline: green;
}
input::placeholder {
    color: #ffffff;
    padding: 5px;
    opacity: 0.5; 
  }
.subscribe__from-button{
    background-color: #7dc855;
    width: 35px;
    height: 31px;
    padding: 10px;
    display: flex;
    border-radius: 0 20% 20% 0;
    justify-content: center;
    margin-left: -10px;
}
