$textColor: #666666; //Main theme Color
$headlineColor: #8f2b50;; //Emphasis color h1-5.
$desctop: 1650px;
$laptop: 1280px;
$tablet: 1024px;
$mobile: 768px;
$mobile-sm: 480px;
$mobile-ex-sm: 375px;