body{
    font-size: 18px;
    background-color: #ffc;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
canvas{
    width: 99.2vw;
    height: 99.2vh;
}
.menu_wrap{
    position: absolute;
    left: 40vw;
    top: 12vh;
}
.menu_button{
    position: relative;
    display: block;
    border: 5px solid black;
    border-radius: 50px;
    background-color: #010626;
    font-size: 24px;
    opacity: 0.4;
    margin: 0 auto;
    padding: 5px;

}
.menu_button:hover{
    background-color: #038C73;
    opacity: 1; 
}
.menu_button_a, .menu_button_a:hover, .menu_button_a:visited{
    text-decoration: none;
    color:#A7C8F2;
}