body{
    font-size: 18px;
    background-color: #ffc;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: black;
}
h1, h2, h3, h4, h5, h6{
    text-align: center;
}
table, td, th {
    border: 1px black solid;
}
th{
    background-color: rgb(207,226,243);
}
header{
    font-size: 22px;
    margin: 15px;
}
.conditions, .scrollsNav, .wondrousNav{
    display: flex;
    flex-wrap: wrap;
}
nav{
    margin: 15px;
}
.conditionsP{
    text-align: left;
    font-weight: bold;
    background-color: rgb(207,226,243);
}
.arcane_scrolls_table{
    border:none;
}
.arcane_scrolls_table_special_border{
    width: 5vw;
    height: 5vh;
    background-color: rgb(207,226,243);
}
/* Главная - Меню */
    /* Главная - Поиск */
    #mainNav form{
       position: absolute;
       top: -18px;
       right: 132px;
       text-align: center;
    }
    #mainNav p{
        width: 3vw;
        
    }
    #mainNav input{
        width: 12.5vw;
        height: 3.56vh;
        color: white;
        background-color: rgb(23, 23, 32);
        border: 1px solid blue;
        text-align: center;
    }
/* Кнопка дропдовн */
#mainNav{
    margin: 0;
}
.dropbtn{
    background-color: rgb(23, 23, 32);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
/* Контейнер <div> чтобы спозиционировать контент */
  .dropdown{
    position: relative;
    display: inline-block;
    margin: -3px;
}
/* Контент (скрыт по умолчанию) */
  .dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 0;
}
/* Линки для дропдауна */
  .dropdown-content a, .dropdown-content a:visited{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: black;
}
/* Смена цвета меню дропдауна при наводке */
  .dropdown-content a:hover {background-color: #038C73;}
/* Показывает меню при нводке мышью */
  .dropdown:hover .dropdown-content {display: block;}
/* Смена цвета при наводке мышью на итемы меню */
  .dropdown:hover .dropbtn {background-color: #038C73;}
/* Ссылка без цвета и подчеркивания */
.specialA, .specialA:hover, .specialA:visited{
    text-decoration: none;
    color: #038C73;
    color:white;
}
/* Обычные ссылки */
a:visited{
    color:#0000EE;
}
/* Стрелочка наверх */
.arrow{
    position: fixed;
    bottom: 0;
    right: 0;
}
    /* Главная/ Видео */

.video{
    text-align-last: center;
    margin-bottom: 10px;
}
    /* Главная/ Лист персонажа */
.charflex{
    display: flex;
    flex-wrap: wrap;
}
.charList{
    text-align: center;
    margin: 10px;
}
.charList input{
    width: 90%;
    color:white;
    background-color: rgb(3, 2, 24);
    text-align: center;
}
.specialTd{
    background-color: rgb(207,226,243);
}
.charflex img{
    background-color:  #ffc;
}
    /* Главная/ Галерея карт */
.imgGallery{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}
.imgGallery img{
    width: 100%;
    height: auto;
}
.imgGallery img:hover{
    border: 1px solid #777;
}
.imgDesc{
    text-align: center;
}
    /*Главная/ Футер */
.footerMain{
    width: 97.3vw;
    min-height: calc(100vh - 80vh);
    padding: 10px;
    color: white;
    background: linear-gradient(135deg, black 70%, blue 30%);
    font-size: 12px;
}
.footerMain a{
    color: white;
}
.footerMain p{
    width: 70vw;
}
/*Оружие*/
.navWeapons nav{
    width: 30vw;
    margin: 0 auto;
    text-align: center;
}
.navWeapons nav ul{
    display: inline-block;
}
.navWeapons nav li{
    float: left;
}
    /*Оружие/ Рандом кнопка*/
.randomGen{
    margin-top: 20px;
    margin-left: 50px;
}
.randomGen button{
    color:white;
    background-color: black;
    border: 3px solid blue;
}
.randomGen tr{
    background-color: black;
    text-align: center;
}
#one{
    text-align: center;
    color:white;
    background-color: black;
    width: 5vw;
}
    /*Оружие/ Кастом список */
.specialLi{ 
    list-style: url(img/sword2.png);
    
}
/*Доспехи*/
.navArmor nav{
    width: 20vw;
    margin: 0 auto;
    text-align: center;
}
.navArmor nav ul{
    display: inline-block;
}
.navArmor nav li{
    float: left;
}
    /*Доспехи /После навигации */
.flexArmor{
    display:flex;
    flex-wrap: wrap;
}
.flexArmor div header{
    margin: 0px;
    padding: 0px;
}
.flexArmor div{
    margin-left: 50px;
}
/*Состояния*/
.conditionsElem{
    text-align: center;
    width: 100vw;
    column-count: 3;
    column-width: 100%;
    column-gap: 3em;
    column-rule: 5px groove black;
}
/*Магические вещи*/
.wondrousElem{
    width: 100vw;
    column-count: 3;
    column-width: 100%;
    column-gap: 3em;
    column-rule: 5px groove black;
}
.wondrousElem ol{
    padding: 10px;
    margin: 0px;
    border-bottom: 2px solid black;
}
/*Тайные заклинания*/
.arcaneElem{
    width: 100vw;
    column-count: 3;
    column-width: 100%;
    column-gap: 3em;
    column-rule: 5px groove black;
}
.arcaneElem ol{
    padding: 10px;
    margin: 0px 0px 0px 50px;
}
/*Волшебные палочки*/
.textWands{
    width: 53vw;
    margin-left: 18px;
    margin-right: 10px;
}
.flexWands{
    display:flex;
    flex-wrap: wrap;
}
.flexWands table{
    text-align: center;
    margin-top: 20px;
}
.priceWand{
    margin-top: 20px;
    margin-left:auto; 
    margin-right:auto;
    text-align: center;
}
/* firefox*/
@-moz-document url-prefix() {
@media  all and (min-width : 320px) and (max-width : 570px){
    /* Главная */
    #mainNav .dropdown:nth-child(n){
        display: none;
    }
    #mainNav form{
        position: absolute;
        top: -20px;
        right: 47px;
        display: none;
    }
    #mainNav input{
        width: 15vw;
        height: 4.4vh; 
        text-align: center;
        display: none;
    }
    .video iframe{
        width: 250px;
        height: 180px;
    }
    .imgGallery{
        width: 10vw;
    }
    .imgGallery .imgDesc{
        font-size: 6px;
    }
    .footerMain{
        width: 96vw;
        font-size: 6px;
        padding: 2px;
    }
    /* Оружие */
    .navWeapons nav{
        width: 100vw !important;
        margin: 0px;
    }
    .navWeapons nav li{
        float: none;
        text-align: left;
    }
    header{
        margin: 0px;
        padding: 0px;
    }
    /* Броня */
    .navArmor nav{
        width: 100vw !important;
        margin: 0px;
    }
    .navArmor nav li{
        float: none;
        text-align: left;
    }
    header{
        margin: 0px;
        padding: 0px;
    }
    /* Тайная магия */
    .arcaneElem{
        width: unset !important;
        column-count: unset !important;
        column-width: unset !important;
    }
    /* Состояния */
    .conditionsElem{
        width: unset !important;
        column-count: unset !important;
        column-width: unset !important;
    }
    /* Зелья */
    
}
@media  all and (min-width : 570px) and (max-width : 760px){
/* Главная */
#mainNav .dropdown:nth-child(n){
    display: none;
}
#mainNav form{
    position: absolute;
    top: -20px;
    right: 47px;
    display: none;
}
#mainNav input{
    width: 15vw;
    height: 4.4vh; 
    text-align: center;
    display: none;
}
.video iframe{
    width: 250px;
    height: 180px;
}
.imgGallery{
    width: 10vw;
}
.imgGallery .imgDesc{
    font-size: 6px;
}
.footerMain{
    width: 96vw;
    font-size: 6px;
    padding: 2px;
}
/* Оружие */
.navWeapons nav{
    width: 100vw !important;
    margin: 0px;
}
.navWeapons nav li{
    float: none;
    text-align: left;
}
header{
    margin: 0px;
    padding: 0px;
}
/* Броня */
.navArmor nav{
    width: 100vw !important;
    margin: 0px;
}
.navArmor nav li{
    float: none;
    text-align: left;
}
header{
    margin: 0px;
    padding: 0px;
}
/* Тайная магия */
.arcaneElem{
    width: unset !important;
    column-count: unset !important;
    column-width: unset !important;
}
/* Состояния */
.conditionsElem{
    width: unset !important;
    column-count: unset !important;
    column-width: unset !important;
}
/* Зелья */
}
@media  all and (min-width: 768px) and (max-width: 1024px){
    /* Главная */
    #mainNav .dropdown:nth-child(n){
        display: none;
    }
    #mainNav form{
        position: absolute;
        top: -20px;
        right: 170px;
        display: none;
    }
    #mainNav input{
        width: 23.8vw;
        height: 2.45vh; 
        display: none;
    }
    .video iframe{
        width: 450px;
        height: 280px;
    }
    .imgGallery{
        width: 13vw;
    }
    .footerMain{
        width: 98.7vw;
        font-size: 8px;
        position: unset;
        margin: 0px;
        padding: 2px;
    }
    /* Оружие */
    .navWeapons nav{
        width: 100% !important;
        margin: 0px;
        text-align: unset;
    }
    .navWeapons nav li{
        float: none;
    }
    header{
        margin: 0px;
        padding: 0px;
    }
    /* Броня */
    .navArmor nav{
        width: 60vw !important;
        margin: 0px;
    }
    .navArmor nav li{
        float: none;
        text-align: left;
    }
    header{
        margin: 0px;
        padding: 0px;
    }
    /* Тайная магия */
    .arcaneElem{
        width: unset !important;
        column-count: unset !important;
        column-width: unset !important;
    }
    /* Зелья */
    .flexWands div{
        display: contents;
    }
    
}
@media  all and (min-width: 1100px) and (max-width: 1370px){
     /* Главная */
     #mainNav form{
        position: absolute;
        top: -20px;
        right: 108px;
        
    }
    #mainNav input{
        width: 13.5vw;
        height: 3.6vh;
        
    }
    .menu-wrap{
        display: none;
    }
}
@media  all and (min-width: 1440px){
    .menu-wrap{
        display: none;
    }
    /* Главная */
    #mainNav form{
        position: absolute;
        top: -20px;
        right: 237px;
    }
    #mainNav input{
        width: 18.3vw;
        height: 2.8vh; 
    }
    .footerMain{
        width: 99.3vw;
        font-size: 12px;
        position: unset;
        margin: 0px;
        padding: 5px;
        padding:2px;
    }
}
@media  all and (min-width: 1920px){
    .menu-wrap{
        display: none;
    }
    /* Главная */
    #mainNav form{
        position: absolute;
        top: -20px;
        right: 705px;
    }
    #mainNav input{
        width: 18.3vw;
        height: 2.3vh; 
        text-align: center;
    }
    .footerMain{
        width: 99.5vw;
        font-size: 12px;
        position: unset;
        margin: 0px;
        padding: 2px;
    }
}
}
/*chrome */
@media  all and (min-width : 320px) and (max-width : 570px){
    /* Главная */
    #mainNav .dropdown:nth-child(n){
        display: none;
    }
    #mainNav form{
        position: absolute;
        top: -20px;
        right: 47px;
        display: none;
    }
    #mainNav input{
        width: 15vw;
        height: 4.4vh; 
        text-align: center;
        display: none;
    }
    .video iframe{
        width: 250px;
        height: 180px;
    }
    .imgGallery{
        width: 10vw;
    }
    .imgGallery .imgDesc{
        font-size: 6px;
    }
    .footerMain{
        width: 96vw;
        font-size: 6px;
        padding: 2px;
    }
    /* Оружие */
    .navWeapons nav{
        width: 100vw !important;
        margin: 0px;
    }
    .navWeapons nav li{
        float: none;
        text-align: left;
    }
    header{
        margin: 0px;
        padding: 0px;
    }
    /* Броня */
    .navArmor nav{
        width: 100vw !important;
        margin: 0px;
    }
    .navArmor nav li{
        float: none;
        text-align: left;
    }
    header{
        margin: 0px;
        padding: 0px;
    }
    /* Тайная магия */
    .arcaneElem{
        width: unset !important;
        column-count: unset !important;
        column-width: unset !important;
    }
    /* Состояния */
    .conditionsElem{
        width: unset !important;
        column-count: unset !important;
        column-width: unset !important;
    }
    /* Зелья */
    
}
@media  all and (min-width : 570px) and (max-width : 760px){
    /* Главная */
    #mainNav .dropdown:nth-child(n){
        display: none;
    }
    #mainNav form{
        position: absolute;
        top: -20px;
        right: 47px;
        display: none;
    }
    #mainNav input{
        width: 15vw;
        height: 4.4vh; 
        text-align: center;
        display: none;
    }
    .video iframe{
        width: 250px;
        height: 180px;
    }
    .imgGallery{
        width: 10vw;
    }
    .imgGallery .imgDesc{
        font-size: 6px;
    }
    .footerMain{
        width: 96vw;
        font-size: 6px;
        padding: 2px;
    }
    /* Оружие */
    .navWeapons nav{
        width: 100vw !important;
        margin: 0px;
    }
    .navWeapons nav li{
        float: none;
        text-align: left;
    }
    header{
        margin: 0px;
        padding: 0px;
    }
    /* Броня */
    .navArmor nav{
        width: 100vw !important;
        margin: 0px;
    }
    .navArmor nav li{
        float: none;
        text-align: left;
    }
    header{
        margin: 0px;
        padding: 0px;
    }
    /* Тайная магия */
    .arcaneElem{
        width: unset !important;
        column-count: unset !important;
        column-width: unset !important;
    }
    /* Состояния */
    .conditionsElem{
        width: unset !important;
        column-count: unset !important;
        column-width: unset !important;
    }
    /* Зелья */
}
@media  all and (min-width: 768px) and (max-width: 1024px){
    /* Главная */
    #mainNav .dropdown:nth-child(n){
        display: none;
    }
    #mainNav form{
        position: absolute;
        top: -20px;
        right: 170px;
        display: none;
    }
    #mainNav input{
        width: 23.8vw;
        height: 2.45vh; 
        display: none;
    }
    .video iframe{
        width: 450px;
        height: 280px;
    }
    .imgGallery{
        width: 13vw;
    }
    .footerMain{
        width: 98.7vw;
        font-size: 8px;
        position: unset;
        margin: 0px;
        padding: 2px;
    }
    /* Оружие */
    .navWeapons nav{
        width: 100vw !important;
        margin: 0px;
    }
    .navWeapons nav li{
        float: none;
        text-align: left;
    }
    header{
        margin: 0px;
        padding: 0px;
    }
    /* Броня */
    .navArmor nav{
        width: 50vw !important;
        margin: 0px;
    }
    .navArmor nav li{
        float: none;
        text-align: left;
    }
    header{
        margin: 0px;
        padding: 0px;
    }
    /* Тайная магия */
    .arcaneElem{
        width: unset !important;
        column-count: unset !important;
        column-width: unset !important;
    }
    /* Зелья */
    .flexWands div{
        display: contents;
    }
    
}
@media  all and (min-width: 1100px) and (max-width: 1370px){
    #mainNav form{
        position: absolute;
        top: -19px;
        right: 131px;
        display: none;
        
    }
    #mainNav input{
        width: 11.5vw;
        height: 3.6vh;
        display: none;
        
    }
    .menu-wrap{
        display: none;
    }
}
@media  all and (min-width: 1380px){
    .menu-wrap{
        display: none;
    }
    /* Главная */
    #mainNav form{
        position: absolute;
        top: -20px;
        right: 237px;
    }
    #mainNav input{
        width: 18.3vw;
        height: 2.8vh; 
    }
    .footerMain{
        width: 99.3vw;
        font-size: 12px;
        position: unset;
        margin: 0px;
        padding: 5px;
        padding:2px;
    }
}
@media  all and (min-width: 1920px){
    /* Главная */
    #mainNav form{
        position: absolute;
        top: -20px;
        right: 705px;
    }
    #mainNav input{
        width: 18.3vw;
        height: 2.3vh; 
        text-align: center;
    }
    .footerMain{
        width: 99.5vw;
        font-size: 12px;
        position: unset;
        margin: 0px;
        padding: 2px;
    }
    .menu-wrap{
        display: none;
    }
}
/*This will work for IE*/
/* Гамбургер появляется только при ниже моего */
@media  all and (min-width : 320px)  and (max-width : 1024px){
.menu-wrap{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.menu-wrap .toggler{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 25px;
    height: 20px;
    opacity: 0;
}
.menu-wrap .hamburger{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 25px;
    height: 20px;
    padding: 1rem;
    background-color: black;
    display:flex;
    align-items: center;
    justify-content: center;
}
.menu-wrap .hamburger > div{
    position: relative;
    width: 100%;
    height: 2px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}
/* Верхние и нижние линии */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after{
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}
/* Двигает линию вниз */
.menu-wrap .hamburger > div:after{
    top: 10px;
}
/* Анимация переключателя */
.menu-wrap .toggler:checked + .hamburger > div{
    transform: rotate(135deg);
}
/* Превращаем линии в крест */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after{
    top: 0;
    transform: rotate(90deg);
}
/* Показывать меню при нажатии */
.menu-wrap .toggler:checked ~ .menu{
    visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    opacity: 0.9;
}
.menu-wrap .menu{
    position: fixed;
    top: 0;
    left: 0px;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-wrap .menu > div{
    background-color: black;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    transform: scale(0);
}
.menu-wrap .menu > div > div{
    text-align: center;
    background-color: black;
}
.menu-wrap .menu > div > div > ul > li{
    list-style: none;
    color: rgb(114, 98, 202);
    font-size: 24px;
    margin: 5px;
    padding: 5px;
}
.menu-wrap .menu > div > div > ul > li > a{
    color: inherit;
    text-decoration: none;
}
.menu-wrap .menu > div > div > ul > li > a:hover{
    color: skyblue;

}
}