/* 1.0 General */
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: #5e6977;
    line-height: 32px;
    font-weight: 300;
    
}
*,
*:before,
*:after{
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
.container{
    max-width: 1260px;   
}
/* */
.footer-menu-first ul{
    list-style-type: square;
}
.footer-menu-second ul{
    list-style-type: none;
}
.footer-menu-second li::before{
    content: "-";
    position: relative;
    left: -15px;
    margin-left: -7px;
}
